.container-fluid{
    width: 80%;
    margin: 0 auto;
}

header, footer{
    width: 100%;
    position: fixed;        
    background: black;
    color: white;
}

header{
    top: 0;
    padding: 10px;
}

footer{
    bottom: 0;
    padding: 20px;
}

body{        
    padding-top: 100px;
    padding-bottom: 40px;
}